<launch>
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="fake_localization"
        output="screen" args="0 0 0 0 0 0 map odom" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="fake_odometry"
        output="screen" args="0 0 0 0 0 0 odom base_footprint" />
</launch>
