<launch>

  <arg name="namespace" default="pr2" />

  <include file="$(find iai_pr2_description)/launch/upload_pr2_calibrated_with_ft2.launch" />

  <node pkg="iai_naive_kinematics_sim" type="map_odom_transform_publisher.py" name="map_odom_transform_publisher" output="screen">
    <param name="parent_frame" value="map" />
    <param name="child_frame" value="odom_combined" />
  </node>

  <group ns="$(arg namespace)">
    <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
      <arg name="robot" value="$(find iai_pr2_description)/robots/pr2_calibrated_with_ft2_without_virtual_joints.urdf" />
      <arg name="use_urdf" value="true" />
      <arg name="config" default="$(find iai_pr2_sim)/config/mujoco_config.yaml" />
      <arg name="world" value="$(find iai_pr2_sim)/config/mujoco_world.xml" />
      <arg name="disable_parent_child_collision_level" value="3" />
    </include>
    <rosparam command="load" file="$(find iai_pr2_sim)/config/ros_control_sim_mujoco.yaml" />
<!--     <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn
      joint_state_controller 
      real_time_velocity_controller
      " /> -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn
      joint_state_controller 
      torso_lift_velocity_controller
      r_upper_arm_roll_velocity_controller
      r_shoulder_pan_velocity_controller
      r_shoulder_lift_velocity_controller
      r_forearm_roll_velocity_controller
      r_elbow_flex_velocity_controller
      r_wrist_flex_velocity_controller
      r_wrist_roll_velocity_controller
      l_upper_arm_roll_velocity_controller
      l_shoulder_pan_velocity_controller
      l_shoulder_lift_velocity_controller
      l_forearm_roll_velocity_controller
      l_elbow_flex_velocity_controller
      l_wrist_flex_velocity_controller
      l_wrist_roll_velocity_controller
      head_pan_velocity_controller
      head_tilt_velocity_controller
      " />
    <!-- <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" /> -->
  </group>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <rosparam param="source_list">
      - pr2/joint_states
    </rosparam>
    <param name="rate" value="120" />
    <param name="use_gui" value="False" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>