<launch>

  <include file="$(find iai_pr2_description)/launch/upload_pr2_with_odom_joints.launch" />

  <node pkg="iai_naive_kinematics_sim" type="map_odom_transform_publisher.py" name="map_odom_transform_publisher" output="screen">
    <param name="parent_frame" value="map"/>
    <param name="child_frame" value="odom_combined"/>
  </node>

  <node pkg="iai_naive_kinematics_sim" type="simulator" name="body_controller" output="screen">
    <rosparam command="load" file="$(find iai_pr2_sim)/config/naive_kinematics_sim_combined.yaml" />
    <remap from="~commands" to="~command" />
  </node>

    <node pkg="iai_naive_kinematics_sim" type="simulator" name="r_gripper_simulator" output="screen">
    <rosparam command="load" file="$(find iai_pr2_sim)/config/naive_kinematics_sim_r_gripper.yaml" />
    <remap from="~joint_states" to="r_gripper/joint_states" />
    <remap from="~commands" to="/r_gripper/commands" />
  </node>
  <node pkg="iai_naive_kinematics_sim" type="simulator" name="l_gripper_simulator" output="screen">
    <rosparam command="load" file="$(find iai_pr2_sim)/config/naive_kinematics_sim_l_gripper.yaml" />
    <remap from="~joint_states" to="l_gripper/joint_states" />
    <remap from="~commands" to="/l_gripper/commands" />
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <rosparam param="source_list">
    - body_controller/joint_states
    - r_gripper/joint_states
    - l_gripper/joint_states
    </rosparam>
    <param name="rate" value="120"/>
    <param name="use_gui" value="False"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" />
 
  <!-- <node pkg="iai_naive_kinematics_sim" type="fake_base_controller.py" name="base_controller" output="screen">
    <param name="odom_x_joint" value="odom_x_joint"/>
    <param name="odom_y_joint" value="odom_y_joint"/>
    <param name="odom_z_joint" value="odom_z_joint"/>
    <param name="odom" value="odom_combined"/>
    <remap from="~cmd_vel" to="/cmd_vel" />
    <remap from="~commands" to="/commands" />
  </node> -->

  <!-- <include file="$(find omni_pose_follower)/launch/omni_pose_follower.launch"/> -->

</launch>
