<launch>

  <include file="$(find iai_pr2_description)/launch/upload_pr2.launch" />

  <node pkg="iai_naive_kinematics_sim" type="simulator" 
        name="pr2" output="screen">
    <rosparam command="load"
        file="$(find iai_pr2_sim)/config/sim_config.yaml" />
    <remap from="~joint_states" to="/joint_states" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" />
  
  <include file="$(find iai_pr2_sim)/launch/fake_localization.launch" />

</launch>
