<launch>

  <include file="$(find iai_pr2_description)/launch/upload_pr2.launch" />

  <node pkg="iai_naive_kinematics_sim" type="simulator" 
        name="pr2" output="screen">
    <rosparam command="load"
        file="$(find iai_pr2_sim)/config/sim_config.yaml" />
    <remap from="~joint_states" to="/joint_states" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" />

  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="fake_localization"
        output="screen" args="0 0 0 0 0 0 map odom" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="fake_odometry"
        output="screen" args="0 0 0 0 0 0 odom base_footprint" />

</launch>
