<launch>
  <rosparam command="load" file="$(find iai_pr2_controller_configuration)/pr2_upper_body_controller.yaml" />

  <node pkg="pr2_controller_manager" type="unspawner" name="unspawner_position_controllers"
        output="screen" args="l_arm_controller r_arm_controller torso_controller" />

  <node pkg="pr2_controller_manager" type="spawner" name="spawner_velocity_controllers" 
        output="screen" args="upper_body_controller" />
</launch>
