<launch>
  <node pkg="giskardpy" type="add_urdf.py" name="add_kitchen">
    <param name="name" value="iai_kitchen"/>
    <param name="param" value="kitchen_description"/>
    <param name="js" value="kitchen/joint_states"/>

    <param name="root_frame" value="iai_kitchen/world"/>
    <param name="frame_id" value="map" />
  </node>
</launch>
